Repository alxrem/terraform-yandex-service-account: changes, and which pre-commit hooks are due for each by the changed paths.
All: tflint, fmt, docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tflint
        name: tflint
        language: system
        entry: tflint
        pass_filenames: false
        types: [ terraform ]
      - id: fmt
        name: fmt
        language: system
        entry: terraform fmt
        types: [ terraform ]
      - id: docs
        name: docs
        entry: terraform-docs
        pass_filenames: false
        language: system
        files: ^(README\.md|(variables|outputs)\.tf)$

Configure Gitlab CI
  .gitlab-ci.yml
  README.md
Due: docs

Release 1.0.1
  CHANGELOG.md
Due: none

Extended configuration of keys
  .terraform-docs.yaml
  .terraform-docs.yml
  CHANGELOG.md
  LICENSE
  README.md
  main.tf
  outputs.tf
  variables.tf
  versions.tf
Due: tflint, fmt, docs

Support output_to_lockbox.entry_for_access_key attribute of yandex_iam_service_account_static_access_key
  CHANGELOG.md
  main.tf
  variables.tf
  versions.tf
Due: tflint, fmt, docs

Update documentation
  README.md
Due: docs

Validate name and description
  CHANGELOG.md
  README.md
  variables.tf
Due: tflint, fmt, docs
